@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right,#164A41, #4D774E);
    color: #f2fffd;
}

header {
    margin-top: 7vh;
    text-align: center;
}

header h1 {
    font-size: 50px;
    letter-spacing: 2px;   
}

/* Header underline */
header h1 span {
    width: 13em;
    margin: 15px auto;
    display: flex;
    border-bottom: 1px solid #F1B24A;
}

header h2 {
    font-size: 30px;
    font-weight: 400;
    color: #d8e2e1;
}

main {
    margin: 3vh;
    text-align: center;
}

main h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

main h3 {
    font-size: 25px;
}

#game-button {
    display: inline-block;
    align-items: center;
    width: 5em;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 60px;
    border: 2px solid #F1B24A;
    color: #F1B24A;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#game-button img {
    height: 40px;
}

#game-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.score h3 {
    margin-top: 25px;
    font-size: 35px;
}

.score .score-container {
    display: inline-block;
    margin: 15px;
    padding: 10px 5px;
    border: 2px solid #F1B24A;
    border-radius: 40px;
    font-size: 25px;
    width: 6em;
}

.results-section #results-output-container h4, .replay-button h4{
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: #F1B24A;
}

.results-section #results-output-container h4{
    margin-top: 15px;
}

.results-section #results-output-display{
    font-size: 20px;
}

.results-section #replay-button {
    display: none; /* hide the button until the game is over */
    align-items: center;
    width: 5em;
    margin: 25px 20px;
    padding: 15px 35px;
    border-radius: 60px;
    border: 2px solid #F1B24A;
    background-color: rgba(255, 255, 255, 0.1);
    color: #F1B24A;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.results-section #replay-button:hover {
    background-color:  rgba(255, 255, 255, 0.2);
}